$borderColor:#dbdbdb;
$headerBG:#eaeaea;
$statusBoxTitleBG:#6399e2;
$textBlack:#232323;
$smsBoxTitleBG:#1669b7;
$activeColor:#da3857;
$smsBoxContentBG:#f2f2f2;
$grayColor:#666;
$trueColor:#2f409f;
$falseColor:#da3857;
$cancelColor:#9eacc6;
$paginationColor:#000;
$paginationBorderColor:#ddd;
$paginationActiveColor:#1669b7;