#gnb .gnb_li .btn_op.menu-955 { position:relative; background-image:none; font-family:FontAwesome; }
#gnb .gnb_li .btn_op.menu-955:after { content:"\f0e0"; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); color:#acacac; text-indent:0; font-size:1.4em; }
#gnb .gnb_li.on .btn_op.menu-955:after { color:#435ffe; }