/* 여기에 작업 또는 수정할 당신의 css style을 설정하세요. (customizations) */

/*
 | ------------------------------------------------
 | BOOTSTRAP 일부
 | ------------------------------------------------
*/
.d-flex {display: flex !important;}
.d-inline-flex {display: inline-flex !important;}
.flex-fill {flex: 1 1 auto !important;}
.flex-row {flex-direction: row !important;}
.flex-column {flex-direction: column !important;}
.flex-row-reverse {flex-direction: row-reverse !important;}
.flex-column-reverse {flex-direction: column-reverse !important;}
.flex-grow-0 {flex-grow: 0 !important;}
.flex-grow-1 {flex-grow: 1 !important;}
.flex-shrink-0 {flex-shrink: 0 !important;}
.flex-shrink-1 {flex-shrink: 1 !important;}
.flex-wrap {flex-wrap: wrap !important;}
.flex-nowrap {flex-wrap: nowrap !important;}
.flex-wrap-reverse {flex-wrap: wrap-reverse !important;}
.justify-content-start {justify-content: flex-start !important;}
.justify-content-end {justify-content: flex-end !important;}
.justify-content-center {justify-content: center !important;}
.justify-content-between {justify-content: space-between !important;}
.justify-content-around {justify-content: space-around !important;}
.justify-content-evenly {justify-content: space-evenly !important;}
.align-items-start {align-items: flex-start !important;}
.align-items-end {align-items: flex-end !important;}
.align-items-center {align-items: center !important;}
.align-items-baseline {align-items: baseline !important;}
.align-items-stretch {align-items: stretch !important;}
.align-content-start {align-content: flex-start !important;}
.align-content-end {align-content: flex-end !important;}
.align-content-center {align-content: center !important;}
.align-content-between {align-content: space-between !important;}
.align-content-around {align-content: space-around !important;}
.align-content-stretch {align-content: stretch !important;}
.align-self-auto {align-self: auto !important;}
.align-self-start {align-self: flex-start !important;}
.align-self-end {align-self: flex-end !important;}
.align-self-center {align-self: center !important;}
.align-self-baseline {align-self: baseline !important;}
.align-self-stretch {align-self: stretch !important;}
/* 해상도가 576px 이상 */
@media (min-width: 576px) {
	.d-sm-flex {display: flex !important;}
	.d-sm-inline-flex {display: inline-flex !important;}
	.d-sm-none {display: none !important;}
	.flex-sm-fill {flex: 1 1 auto !important;}
	.flex-sm-row {flex-direction: row !important;}
	.flex-sm-column {flex-direction: column !important;}
	.flex-sm-row-reverse {flex-direction: row-reverse !important;}
	.flex-sm-column-reverse {flex-direction: column-reverse !important;}
	.flex-sm-grow-0 {flex-grow: 0 !important;}
	.flex-sm-grow-1 {flex-grow: 1 !important;}
	.flex-sm-shrink-0 {flex-shrink: 0 !important;}
	.flex-sm-shrink-1 {flex-shrink: 1 !important;}
	.flex-sm-wrap {flex-wrap: wrap !important;}
	.flex-sm-nowrap {flex-wrap: nowrap !important;}
	.flex-sm-wrap-reverse {flex-wrap: wrap-reverse !important;}
	.justify-content-sm-start {justify-content: flex-start !important;}
	.justify-content-sm-end {justify-content: flex-end !important;}
	.justify-content-sm-center {justify-content: center !important;}
	.justify-content-sm-between {justify-content: space-between !important;}
	.justify-content-sm-around {justify-content: space-around !important;}
	.justify-content-sm-evenly {justify-content: space-evenly !important;}
	.align-items-sm-start {align-items: flex-start !important;}
	.align-items-sm-end {align-items: flex-end !important;}
	.align-items-sm-center {align-items: center !important;}
	.align-items-sm-baseline {align-items: baseline !important;}
	.align-items-sm-stretch {align-items: stretch !important;}
	.align-content-sm-start {align-content: flex-start !important;}
	.align-content-sm-end {align-content: flex-end !important;}
	.align-content-sm-center {align-content: center !important;}
	.align-content-sm-between {align-content: space-between !important;}
	.align-content-sm-around {align-content: space-around !important;}
	.align-content-sm-stretch {align-content: stretch !important;}
	.align-self-sm-auto {align-self: auto !important;}
	.align-self-sm-start {align-self: flex-start !important;}
	.align-self-sm-end {align-self: flex-end !important;}
	.align-self-sm-center {align-self: center !important;}
	.align-self-sm-baseline {align-self: baseline !important;}
	.align-self-sm-stretch {align-self: stretch !important;}
}
/* 해상도가 768px 이상 */
@media (min-width: 768px) {
	.d-md-flex {display: flex !important;}
	.d-md-inline-flex {display: inline-flex !important;}
	.flex-md-fill {flex: 1 1 auto !important;}
	.flex-md-row {flex-direction: row !important;}
	.flex-md-column {flex-direction: column !important;}
	.flex-md-row-reverse {flex-direction: row-reverse !important;}
	.flex-md-column-reverse {flex-direction: column-reverse !important;}
	.flex-md-grow-0 {flex-grow: 0 !important;}
	.flex-md-grow-1 {flex-grow: 1 !important;}
	.flex-md-shrink-0 {flex-shrink: 0 !important;}
	.flex-md-shrink-1 {flex-shrink: 1 !important;}
	.flex-md-wrap {flex-wrap: wrap !important;}
	.flex-md-nowrap {flex-wrap: nowrap !important;}
	.flex-md-wrap-reverse {flex-wrap: wrap-reverse !important;}
	.justify-content-md-start {justify-content: flex-start !important;}
	.justify-content-md-end {justify-content: flex-end !important;}
	.justify-content-md-center {justify-content: center !important;}
	.justify-content-md-between {justify-content: space-between !important;}
	.justify-content-md-around {justify-content: space-around !important;}
	.justify-content-md-evenly {justify-content: space-evenly !important;}
	.align-items-md-start {align-items: flex-start !important;}
	.align-items-md-end {align-items: flex-end !important;}
	.align-items-md-center {align-items: center !important;}
	.align-items-md-baseline {align-items: baseline !important;}
	.align-items-md-stretch {align-items: stretch !important;}
	.align-content-md-start {align-content: flex-start !important;}
	.align-content-md-end {align-content: flex-end !important;}
	.align-content-md-center {align-content: center !important;}
	.align-content-md-between {align-content: space-between !important;}
	.align-content-md-around {align-content: space-around !important;}
	.align-content-md-stretch {align-content: stretch !important;}
	.align-self-md-auto {align-self: auto !important;}
	.align-self-md-start {align-self: flex-start !important;}
	.align-self-md-end {align-self: flex-end !important;}
	.align-self-md-center {align-self: center !important;}
	.align-self-md-baseline {align-self: baseline !important;}
	.align-self-md-stretch {align-self: stretch !important;}
}
/* 해상도가 992 이상*/
@media (min-width: 992px) {
	.d-lg-flex {display: flex !important;}
	.d-lg-inline-flex {display: inline-flex !important;}
	.d-lg-none {display: none !important;}
	.flex-lg-fill {flex: 1 1 auto !important;}
	.flex-lg-row {flex-direction: row !important;}
	.flex-lg-column {flex-direction: column !important;}
	.flex-lg-row-reverse {flex-direction: row-reverse !important;}
	.flex-lg-column-reverse {flex-direction: column-reverse !important;}
	.flex-lg-grow-0 {flex-grow: 0 !important;}
	.flex-lg-grow-1 {flex-grow: 1 !important;}
	.flex-lg-shrink-0 {flex-shrink: 0 !important;}
	.flex-lg-shrink-1 {flex-shrink: 1 !important;}
	.flex-lg-wrap {flex-wrap: wrap !important;}
	.flex-lg-nowrap {flex-wrap: nowrap !important;}
	.flex-lg-wrap-reverse {flex-wrap: wrap-reverse !important;}
	.justify-content-lg-start {justify-content: flex-start !important;}
	.justify-content-lg-end {justify-content: flex-end !important;}
	.justify-content-lg-center {justify-content: center !important;}
	.justify-content-lg-between {justify-content: space-between !important;}
	.justify-content-lg-around {justify-content: space-around !important;}
	.justify-content-lg-evenly {justify-content: space-evenly !important;}
	.align-items-lg-start {align-items: flex-start !important;}
	.align-items-lg-end {align-items: flex-end !important;}
	.align-items-lg-center {align-items: center !important;}
	.align-items-lg-baseline {align-items: baseline !important;}
	.align-items-lg-stretch {align-items: stretch !important;}
	.align-content-lg-start {align-content: flex-start !important;}
	.align-content-lg-end {align-content: flex-end !important;}
	.align-content-lg-center {align-content: center !important;}
	.align-content-lg-between {align-content: space-between !important;}
	.align-content-lg-around {align-content: space-around !important;}
	.align-content-lg-stretch {align-content: stretch !important;}
	.align-self-lg-auto {align-self: auto !important;}
	.align-self-lg-start {align-self: flex-start !important;}
	.align-self-lg-end {align-self: flex-end !important;}
	.align-self-lg-center {align-self: center !important;}
	.align-self-lg-baseline {align-self: baseline !important;}
	.align-self-lg-stretch {align-self: stretch !important;}

}
.btn-group .btn {height: auto; padding: .6175rem 1.25rem;vertical-align: top}
/*
 * 체크박스
 */
.checklist {margin: 0 auto;padding: 0;display: block; position: relative;vertical-align: top; min-width: 16px; min-height: 16px;cursor: pointer;}
.checklist INPUT[type="checkbox"] {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.checklist .checkmark {position: absolute; top: 0; left: 0; width: 16px; height: 16px; cursor: pointer;background-color: #eee;border: 1px solid #ddd;border-radius: 3px !important;}
.checklist:hover .checkmark, .checklist input:checked ~ .checkmark {border-color: rgba(0, 0, 0, .2); box-shadow: inset 3px 3px 3px 0 rgba(0, 0, 0, .175); }
.checklist .checkmark::after {content: '';position: absolute;left: 6px;top: -4px;width: 5px;height: 16px;border: solid transparent;border-width: 0 2px 2px 0;-webkit-transform: rotate(48deg);-ms-transform: rotate(48deg);transform: rotate(48deg);}
.checklist input:checked ~ .checkmark::after {border-color: #333;}
.checklist.checklist-toggle .checkmark {border-color: #a5a8ac;}
.checklist.checklist-toggle input:checked ~ .checkmark::after {border-color: #333;}
.checklist.checklist-toggle input.partial ~ .checkmark::after {left: 3px;top: 3px;width: 8px;height: 8px;border: 0;border-radius: 2px !important;background-color: #777;-webkit-transform: none;-ms-transform: none;transform: none;}
.eyoom-form .input .frm-control {font-size: 1.25rem;height: 30px;padding: 6px 12px;line-height: 1.5;font-weight: normal;display: block;box-sizing: border-box;width: 100%;outline: none;border: 1px solid #d5d5d5;border-radius: 0;background: #fff;color: #4b4b4d;-ms-transition: border-color 0.2s;-moz-transition: border-color 0.2s;-webkit-transition: border-color 0.2s;}
.eyoom-form .input .icon-prepend + .frm-control {padding-left: 43px;}
OL.unlisted, UL.unlisted, DL.unlisted, OL.unlisted > LI, UL.unlisted > LI, DL.unlisted > DT, DL.unlisted > DD { margin: 0; padding: 0; list-style: none;}
/*
 * DateRangePicker
 */
.daterangepicker {box-shadow: 0 5px 5px rgba(0, 0, 0, .275) !important;}
.date-range-picker {position: relative;background-color: white; border: 1px solid #ccc;margin: 0;padding: 0;min-width: 240px;cursor: pointer;display: inline-block;vert-align: top;}
.date-range-picker .date-range-picker-toggle {font-size: 12px;font-weight: normal;line-height: 1;width: 100%;border: 0 !important;padding: .5rem .75rem !important;margin: 0 !important;background-color: transparent;display: inline-block;cursor: pointer}
.date-range-picker.show-picker:after { transform: rotate(-135deg);-webkit-transform: rotate(-135deg);margin-top: -3px;}
.date-range-picker:after {transition: transform .2s;border: solid #6b757c;border-width: 0 3px 3px 0;display: inline-block;padding: 3px;transform: rotate(45deg);-webkit-transform: rotate(45deg);position: absolute;content: '';top: 50%;right: 6px;margin-top: -6px;}
/**

 */
.panel-body {border: 1px solid #d5d5d5 !important;}
.panel {-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .175);box-shadow: 0 0 2px rgba(0, 0, 0, .175);}
.tabs-header {display: block;margin: 0;padding: .75rem 1.25rem;background: #e8e9ec;border: 1px solid #d5d5d5;font-size: 16px;font-weight: 600;color: #2b2b2e;}
.tabs-container {background-color: #fff;}
.tabs-container .table.table-bordered {border-top: #fff;}
.ajax-load-container {display: none;position: absolute}
.ajax-load-container .load-backdrop {position: fixed; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, .35);z-index: 501}
.ajax-load-container .load-content {background: #fff url("/shop/img/loading.gif") no-repeat .75rem center; width: 360px; height: 80px; z-index: 502; position: fixed; left: 50%; top: 20%; margin-left: -180px; padding-left: 90px;font-size: 16px;line-height: 80px;font-weight: bold; color: #666;box-shadow: 0 0 5px rgba(0, 0, 0, .375);}
/**
 * Export
 */

.export-container {
	position: fixed;
	z-index: 5000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
	background-color: rgba(0, 0, 0, .375);
}
.export-container > .export-dialog {
	display: flex;
	min-width: 400px;
	height: 100vh;
}
.export-container > .export-dialog > .export-content {
	background-color: #fff;
	width: 100%;
	max-width: 640px;
	min-height: 60px;
	margin: auto auto;
	padding: 1.25rem;
	position: relative;
}
.export-container .export-progress {
	position: relative;
	display: block;
	background-color: #ccc;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .175);
	height: 1.5rem;
}
.export-container .export-progressbar {
	background-color: #ff670f;
	display: block;
	padding: 0;
	margin: 0;
	width: 0%;
	height: 100%;
	transition: width .6s ease;
}
.export-container .export-progressbar+em {
	display: inline-block;
	position: absolute;
	top: -1px;
	left: calc(50% - 15px);
	width: 30px;
	color: #fff;
	font-size: .875rem;
	text-align: center;
	text-shadow: 0 2px 0 rgba(0, 0, 0, .175);
}
.export-container .export-message {
	font-size: 12px;
	color: #555;
	padding-top: .5rem;
}
.export-container .export-message[data-feedback="error"] {color: #f30;}
.export-container .export-message[data-feedback="warn"] {color: #ff9800;}
.export-container .export-button {border-top:1px solid #d2d2d2;padding-top: .5rem;text-align: right}
.export-container .export-button button {outline: 0; font-size: 11px; border:0; color:#fff; background-color: #5a504b;padding: .075rem .25rem;}
.t {position: absolute}